body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: blue;
    margin-right: 10px;
}

.products {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.product {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    width: 150px;
    text-align: center;
}
